@model FrontEnd.Models.LocalViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LocalViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreLocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlImg)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLocal  }) |
    <a asp-action="Index">Back to List</a>
</div>
