@model IEnumerable<FrontEnd.Models.LocalViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlImg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlImg)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdLocal  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.IdLocal }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.IdLocal })
            </td>
        </tr>
}
    </tbody>
</table>
